* {
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

body {
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.title {
    font-size: 2rem;
    font-weight: 700;
    margin: 0;
}

main {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100dvh;
    height: 100dvh;
    z-index: 999;
    max-width: 100%;
    overflow-y: auto;
}


.overlay-background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    bottom: 0;
    background-color: var(--blur);
    backdrop-filter: blur(10px);
}


.fixed-header img {
    width: 50px;
    border-radius: 10px;
}

@keyframes appear {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

section.content .scroll-to-visible {
    animation: appear linear;
    animation-timeline: view();
    animation-range: 0% 50%;
}

.screenshots {
    display: flex;
    overflow-x: auto;
}

.screenshot-wrap {
    flex: 0 0 auto;
    width: 40%;
    margin-right: 20px;
    border-radius: 10px;
}

.guage-container {
    transform: scale(1);
}

@media (min-width: 1200px) {
    .screenshot-wrap {
        width: 30%;
    }

    .guage-container {
        margin-top: -30px;
        transform: scale(0.7);
    }
}

@media (min-width: 1500px) {
    .screenshot-wrap {
        width: 20%;
    }

    .guage-container {
        margin-top: 30px;
        transform: scale(1.2);
    }
}

.screenshots-container {
    position: relative;
}

.scroll-btn-left,
.scroll-btn-right {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    font-size: 20px;
    top: 50%;
    z-index: 999;
    transform: translateY(-50%);
    border:none;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(3px);
    outline: none;
    color: var(--background);
    border-radius: 50%;
    cursor: pointer;
}

.scroll-btn-left {
    left: 20px;
}

.scroll-btn-right {
    right: 20px;
}

@media (max-width: 768px) {

    .scroll-btn-left,
    .scroll-btn-right {
        display: none;
    }

    .only-pc {
        display: none;
    }
}

.info-container div:not(:last-child) {
    border-right: 1px solid var(--card);
}

.info-container h3 {
    width: 31.3%;
    position: absolute;
    text-align: center;
}

.modal-links {
    display: flex;
    align-items: center;
    gap: 10px;
}